

<div>
<% @posts.includes(:user).each do |post| %>
    <div class="border rounded shadow-md mb-10 md:w-2/5">
    <h2 class="p-4 text-blue-400"><%= post.user.username %></h2>
    <%= link_to image_tag(post.image, width: "640", oncontextmenu: "return false"), post_path(post) %>
    <p class="p-4 text-gray-700"><%= post.caption %></p>
    </div>
<% end %>
</div>